.picklist-container,

.lookup-container{
    width : 100%;
    margin: spacingNone;
}

.picklist-container .slds-dropdown,

.lookup-container .slds-dropdown{
    position: relative !important;
    z-index: 99 !important;
    overflow-y: scroll;
}

th.slds-has-focus, td.slds-has-focus{
    box-shadow: none !important;
}